/*  General Styles */
.render-target .navbar-default {
	background-color: white;
	margin-bottom: 0;
}

.render-target .sign-in-out {
	margin-right: 1rem;
}

.render-target .panel-default>.panel-heading {
	background-color: white;
}

.render-target .content {
	padding-top: 40px;
}

.render-target header {
	text-align: center;
	padding: 2.5rem 0;
}

/* Store Page */
.inventory header {
	margin-bottom: 2.7rem;
}

.inventoryTab {
	font-size: 1.8rem;
}

.items .panel {
	width: 45%;
	margin: 2.1rem;
	padding: 0;
}

.items .panel-heading {
	text-align: center;
}

#carpetItems, #juicetItems {
	padding-top: .01rem;
}

.icon {
  max-width: 150px;
  margin: 1rem auto;
  display: block;
}

.services section {
  text-align: center;
}

.cartHeading {
	text-align: center;
}

.cartItems {
	padding-top: 2rem
}

.btn.btn-square {
  border-radius: 0;
}


/* Customers Page*/

.customer-data .panel-group {
	width: 90%;
	margin: 0 auto;
}
